.techContainerContainer {
	position: relative;
	overflow: hidden;
}
.techContainer {
	width: 100%;
	margin: 35px auto;
	animation: infiniteScroll 100s linear infinite;
}
.techRow {
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

@keyframes infiniteScroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-4620px);
	}
}
