// Buttons
.pauseButton {
	position: absolute;
	right: 20px;
	bottom: 60px;
}
// Containers
.experienceContainer {
	display: flex;
	width: 100vw;
}
.techContainerContainer {
	position: relative;
	overflow: hidden;
}
.techContainer {
	width: 100%;
	position: relative;
	margin: 35px auto;
	animation: infiniteScroll 60s linear infinite;
}
.animationPaused {
	animation-play-state: paused;
}
.techRow {
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.bottomRow {
	margin-left: -210px;
}

// Images
.profilePic {
	border-radius: 100px;
}

// Text
.categoryTitle {
	margin: 20px;
	margin-bottom: 0;
}

@media (prefers-reduced-motion) {
	.techContainerContainer {
		overflow: auto;
	}
}
@keyframes infiniteScroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-2945px);
	}
}
