---
import GlobalLayout from "../layouts/global.astro";
---

<GlobalLayout>
  <h1>Personal stuff, hobbies, passions, and things</h1>

  <hr aria-hidden="true" />

  <h2>Accessibility</h2>

  <p>
    I’m passionate about accessibility in software because everyone deserves to
    be able to use technology, no matter what. I believe great design should be
    intuitive and inclusive, ensuring people of all abilities can engage with it
    easily. Accessibility isn’t just a feature—it’s a core part of creating
    user-friendly software that empowers everyone.
  </p>

  <h2>Amateur photography</h2>

  <p>
    I figured out that I often neglect to take photos with my phone. Once I
    decided to start bringing a dedicated camera I take more shots and enjoy
    taking photos a whole lot more.
  </p>

  <h3>Cameras</h3>

  <div class="list-styled">
    <ul>
      <li>iPhone 14 Pro (Daily)</li>
      <li>GoPro Hero 7 Silver (Action)</li>
      <li>Nikon a50 (DSLR)</li>
      <li>Polaroid Now Gen 2 (Instant)</li>
      <li>Sony a5000 (Mirrorless)</li>
    </ul>
  </div>

  <h2>Design</h2>
  <p>
    Design is more than a profession for me—it’s a passion that spans everything
    from interiors to city planning, architecture, and software. I’m especially
    drawn to the elegance of minimalism, where every element serves a purpose,
    creating spaces and systems that feel intentional and uncluttered.
    Inclusivity is a core value in my work, ensuring that the environments and
    interfaces I help create are accessible and meaningful to all. Whether it’s
    shaping a physical space or developing a digital platform, I’m excited by
    the challenge of making design that’s simple, intuitive, and beautiful.
  </p>

  <h2>Earth</h2>
  <p>
    My passion for the Earth drives everything I do, from embracing sustainable
    technologies to reimagining how we live. I’m especially excited about the
    potential of IoT to create smarter, more efficient systems that reduce waste
    and conserve resources. Solar energy is another area where innovation
    excites me—it’s clean, abundant, and capable of powering our future in
    harmony with the planet. When combined with modern city planning, these
    technologies offer a path to greener, smarter cities that work in sync with
    the environment, improving lives while protecting our Earth for generations
    to come.
  </p>

  <h2>Eva & Wally</h2>
  <p>
    I have two cats, Eva and Wally. They are both rescues and were born at some
    random point in 2023. I love them to death and don't know what I would do
    without all the chaos they add to life.
  </p>

  <h2>Gaming</h2>
  <p>
    I recently got back into gaming and maybe more interestingly --retro gaming.
    I've been emulating and buying old consoles I had as a kid.
  </p>

  <h3>Favorite consoles</h3>
  <div class="list-styled">
    <ul>
      <li>GameBoy Advanced SP</li>
      <li>Nintendo 64</li>
      <li>Playstation 2</li>
      <li>PlayStation 5</li>
      <li>PSP</li>
      <li>PS Vita</li>
      <li>Raspberry PI (RetroPI emulation)</li>
      <li>Switch</li>
      <li>Wii</li>
      <li>Xbox 360</li>
      <li>Xbox One</li>
      <li>Xbox Series S</li>
    </ul>
  </div>

  <h3>Favorite games</h3>
  <div class="list-styled">
    <ul>
      <li>Batman: Arkham Trilogy</li>
      <li>GTA V</li>
      <li>Halo Reach</li>
      <li>Lego Indian Jones</li>
      <li>Lego Star Wars: The Complete Saga</li>
      <li>Mario Kart Wii</li>
      <li>Minecraft</li>
      <li>Mortal Kombat X</li>
      <li>Simpsons: The Game</li>
      <li>Spider-Man (PS5)</li>
      <li>Wii Sports / Resort</li>
    </ul>
  </div>

  <h2>Lego</h2>
  <p>
    I've always loved Legos, they scratched an itch that's more physical than a
    puzzle and just as, if not more, fun.
  </p>

  <div class="list-styled">
    <ul>
      <li>
        <a
          aria-label="The Dark Falcon (opens in new tab)"
          class="link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.lego.com/en-us/product/the-dark-falcon-75389"
          >The Dark Falcon</a
        >
      </li>
      <li>
        <a
          aria-label="Droideka (opens in new tab)"
          class="link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.lego.com/en-us/product/droideka-75381">Droideka</a
        >
      </li>
      <li>
        <a
          aria-label="Dune Ornithopter (opens in new tab)"
          class="link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.lego.com/en-us/product/dune-atreides-royal-ornithopter-10327"
          >Dune Ornithopter</a
        >
      </li>
      <li>
        <a
          aria-label="Luke's X-Wing (opens in new tab)"
          class="link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.lego.com/en-us/product/tbd-ip-lsw7-2021-75301"
          >Luke's X-Wing</a
        >
      </li>
      <li>
        <a
          aria-label="Nano gauntlet (opens in new tab)"
          class="link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.lego.com/en-us/product/tbd-lsh-22-2022-76223"
          >Nano gauntlet</a
        >
      </li>
      <li>
        <a
          aria-label="Polaroid OneStep Camera (opens in new tab)"
          class="link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.lego.com/en-us/product/polaroid-onestep-sx-70-camera-21345"
          >Polaroid OneStep Camera</a
        >
      </li>
    </ul>
  </div>

  <h2>Movies</h2>
  <p>Always been a huge movie buff. Here are some of my favorites.</p>
  <div class="list-styled">
    <ul>
      <li>About Time</li>
      <li>Captain America: Winter Soldier</li>
      <li>Dune</li>
      <li>Home Alone</li>
      <li>Inception</li>
      <li>Indian Jones Trilogy</li>
      <li>Inside Out</li>
      <li>Interstellar</li>
      <li>Jaws</li>
      <li>Star Wars</li>
    </ul>
  </div>

  <h2>Smart home</h2>
  <p>
    I've been doing some fun stuff with my smart home. I try to automate all the
    things, and make daily life as efficient as possible.
  </p>
  <h3>Favorite devices</h3>
  <div class="list-styled">
    <ul>
      <li>Air purifiers</li>
      <li>Automatic pet feeder</li>
      <li>Learning thermostat</li>
      <li>Litter robot</li>
      <li>Robotic vacuum</li>
      <li>Security cameras</li>
      <li>Smart door lock</li>
      <li>Smart garage door</li>
      <li>Smart lights + motion sensors</li>
      <li>Whole home speakers</li>
    </ul>
  </div>
</GlobalLayout>
