---
import GlobalLayout from "../layouts/global.astro";
---

<style>
	.resume {
		block-size: 100vh;
	}
</style>
<GlobalLayout headerOnly noMargin>
	<div class="resume">
		<iframe
			src="/Portfolio/documents/resume.pdf"
			style="width: 100%; height: 100%; border: none;"></iframe>
	</div>
</GlobalLayout>
