:root {
	color-scheme: dark;
	--action-surface-primary: var(--primary);
	--focus: #8e51af;
	--highlight: #d2d449;
	--icon-fill: var(--text);
	--link: var(--primary);
	--hero-gradient: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(160, 228, 160, 1) 80%,
		rgba(210, 212, 73, 1) 85%,
		rgba(160, 228, 160, 1) 90%,
		rgba(255, 255, 255, 0) 100%
	);
	--primary: #5b945b;
	--secondary: var(--highlight);
	--surface-primary: rgb(24, 24, 24);
	--surface-secondary: #474040;
	--surface-tertiary: #a50081;
	--text: white;
	--text-light: #e1e1e1;
}
