:root {
	color-scheme: light;
	--action-surface-primary: #8cf0ce;
	--focus: #fef980;
	--highlight: rgb(255, 223, 163);
	--hero-gradient: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(149, 230, 244, 1) 80%,
		rgba(240, 254, 19, 1) 85%,
		rgba(149, 230, 244, 1) 90%,
		rgba(255, 255, 255, 0) 100%
	);
	--icon-fill: var(--text);
	--link: var(--primary);
	--primary: #95e6f4;
	--secondary: var(--highlight);
	--surface-primary: white;
	--surface-secondary: #fffff0;
	--surface-tertiary: #f3acaa;
	--text: black;
	--text-light: #555555;
}
