:root {
	color-scheme: dark;
	--action-surface-primary: #8cf0ce;
	--focus: #fef980;
	--highlight: rgb(196, 134, 18);
	--hero-gradient: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgb(6, 0, 173) 80%,
		rgba(240, 254, 19, 1) 85%,
		rgb(6, 0, 173) 90%,
		rgba(255, 255, 255, 0) 100%
	);
	--icon-fill: var(--text);
	--link: var(--primary);
	--primary: #001cd0;
	--secondary: var(--highlight);
	--surface-primary: rgb(24, 24, 24);
	--surface-secondary: #3c3c39;
	--surface-tertiary: #ff3730;
	--text: white;
	--text-light: #e1e1e1;
}
