:root {
	color-scheme: light dark;
	--action-surface-primary: #dabcce;
	--focus: #a2b0e3;
	--highlight: light-dark(#dabcce, #ab136e);
	--hero-gradient: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(218, 188, 206, 1) 80%,
		rgba(103, 130, 213, 1) 85%,
		rgba(218, 188, 206, 1) 90%,
		rgba(255, 255, 255, 0) 100%
	);
	--icon-fill: var(--text);
	--link: var(--primary);
	--primary: light-dark(#6782d5, #3c4c7b);
	--surface-primary: light-dark(white, rgb(24, 24, 24));
	--surface-secondary: light-dark(#eef2ff, #3f4045);
	--surface-tertiary: #4f608b;
	--text: light-dark(black, white);
	--text-light: light-dark(#555555, #e1e1e1);
}
