---
import docLargeIcon from "../assets/icons/doc-large.svg?raw";
---

<style>
	.resume-card {
		background-color: var(--surface-secondary);
		inline-size: fit-content;
		margin-inline: auto;
		.doc-icon-container {
			aspect-ratio: 1/1;
			block-size: 128px;
			border-radius: 50%;
			inline-size: 128px;
			flex-grow: 1;
			flex-shink: 1;
			overflow: hidden;
			.icon {
				transition: 1s;
				transform: translateY(50px);
			}
		}
		.info-container {
			flex-basis: 50%;
			flex-grow: 2;
			flex-shrink: 1;
		}
		.title {
			animation: none;
			border-block-end-width: 0px;
		}
		&:hover,
		&:focus-within {
			.icon {
				transform: translateY(25px);
			}
		}
	}
</style>
<div
	class="align-center card gap-16 justify-center padding-16 row resume-card wrap"
>
	<div class="doc-icon-container">
		<Fragment set:html={docLargeIcon} />
	</div>
	<div class="info-container">
		<h2 class="title">Looking for something more official?</h2>
		<a class="button button-subtle elevated-hover" href="/Portfolio/resume"
			>View resume</a
		>
	</div>
</div>
