---
import technologies from "../content/technologies.json";
import Rating from "./rating.astro";
import { Image } from 'astro:assets';

const technologiesWithImages: (typeof technologies[0] & {logo: string})[] = [];

for(let i = 0; i < technologies.length; i++){
    const tech = technologies[i];
    const logo = (await import(`/logos/${tech.icon}-plain.svg?raw`)).default;
    technologiesWithImages[i] = {...tech, logo}
}


---

<style>
    .card{
        border: 3px solid var(--primary);
        border-radius: var(--border-radius);
        padding: 0.7rem;
    }
</style>

<ul class:list={["gap-16", "justify-evenly", "list-styleless", "row", "wrap"]}>
{technologiesWithImages.map( (tech, index)=> {


    return <li class:list={["align-center", "card", "elevated-hover", "gap-8", "justify-center", "list-styleless", "row"]}>
    <div class:list={["col", "gap-4"]}>
        <Fragment set:html={tech.logo} />
        {tech.name}
    
        <Rating rating={tech.experience}/>
    </div></li>
})}
</ul>

