.card {
	margin: 20px;
	display: grid;
	padding: 16px;
	width: 45vw;
	height: 100%;
	min-width: 350px;
	max-width: 600px;
	border-radius: var(--card-border-radius);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	&:hover {
		transition: 0.6s;
		box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
		.cardTitle {
			font-size: 1.75em;
			text-shadow: 0px 7px 6px rgba(0, 0, 0, 0.35);
			margin: 5px 0;
		}
	}
}

.cardIcon {
	padding: 10px 0;
	margin: auto;
	width: 30%;
	height: 100%;
	max-width: 170px;
	max-height: 170px;
}
.cardTitle,
.cardBody {
	margin: 5px auto;
}
.cardTitle {
	transition: 0.25s;
	text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
	.card {
		border: 1px solid var(--text);
		&:hover {
			box-shadow: 0 12px 44px 0 rgba(255, 255, 255, 0.5);
		}
	}
}
